.app-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 14px;
  color: black;
  background-color: darkkhaki;

  ul {
    list-style-type: none;
    padding: none;
    margin: none;
  }
}